<!DOCTYPE html>
<html>
<head>
	<!-- Site favicon -->
	<link rel="shortcut icon" href="../static/images/favicon.ico">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700" rel="stylesheet">
	<!-- Icon Font -->
	<link rel="stylesheet" href="../static/fonts/ionicons/css/ionicons.css">
	<!-- Text Font -->
	<link rel="stylesheet" href="../static/fonts/font.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Normal style CSS -->
	<link rel="stylesheet" href="../static/css/style.css">
	<!-- Normal media CSS -->
	<link rel="stylesheet" href="../static/css/media.css">

    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
	
	<div id="cd-loading-bar" data-scale="1"></div>
	<!-- JS File -->
	<script src="../static/js/modernizr.js"></script>
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/popper.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script src="../static/js/velocity.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>